*{
    background-color: rgb(232, 229, 229);
}

.input{
    background-color: white;
    height: 2rem;
    width: 10rem;
    margin-bottom: 6px;
    margin-top: 6px;
}

#container_master{
    justify-content: center;
    align-items: center;
    text-align: center;
}


#button{
    margin-top: 2%;
    height: 4rem;
    width: 8rem;
    color: white;
    background-color: rgb(0, 0, 216);
}

.hidden{
    display: none;
}